body {
    color: white;
    background: rgba(44, 44, 43, 0.836);
    text-align: center;
    font-family: Roboto, Helvetica, sans-serif;
}

h1, h2, h3 {
    margin: 0;
}

h2{
    font-size: 16px;
    text-transform: uppercase;
    margin: 8px;
}

h1, strong, em {
    color: orange;
}

article {
    border: 1px solid #ccc;
    padding: 50px;
    margin: 50px auto;
    max-width: 420px;
}

footer img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 2px solid orange;
}

footer a:hover img,
footer a:active img {
    border-color: #badaba
}

ol {
    text-align: left;
    font-size: 75%;
}

.vyznac {
    color: black;
    font-weight: bolder;
}

ul {
    text-align: left;
}

a {
    color: orange;
    font-weight: 400;
}

a:hover,
a:active {
    color:rgba(240, 240, 21, 0.836)
}